@using System.Web.Configuration
@inherits UmbracoTemplatePage<NewsOverview>
@{
    Layout = "ContentBase.cshtml";
    var item = Model.Content;
    //var parent = item.Parent;
    //var title = item.GetTitle();
    var containerId = "news-list";
    var overlayId = "loading-overlay";
    var newsYears = ContentManager.GetNewsYears(item.Id);
    var dict = new ViewDataDictionary
    {
        { "DataAttr", "data-news-link" },
        { "RoutingObj", "newsRouting" }
    };

    var showHiddenStr = Request.QueryString[Consts.NewsConfig.ShowHiddenQueryString];
    bool showHidden;
    bool.TryParse(showHiddenStr, out showHidden);

    //var btnBackId = "btn-back";
    //var fallbackUrl = parent.Url;

    //var rotateStyleText = Utils.GetRandomRotateStyle(-1, 1);
    //var rotateStyleTitle = Utils.GetRandomRotateStyle(-1, 1);
    var rotateStyleLeft = Utils.GetRandomRotateStyle(-1, 1);
    var rotateStyleCenter = Utils.GetRandomRotateStyle(-1, 1);
    var rotateStyleRight = Utils.GetRandomRotateStyle(-1, 1);
}

@*@section LeftSidebar
    {
        @{Html.RenderPartial("~/Views/Partials/Navigation/SideNavigation.cshtml");}
    }*@

@*@section RightSidebar
{
}*@

@section Body
{
    <section class="news-overview-container">
        <header class="header">
            <div class="row">
                <div class="col-sm-6">
                    @{ Html.RenderPartial("/Views/Partials/Common/PageTitle.cshtml"); }
                </div>
                <div class="col-sm-18">
                    @{Html.RenderPartial("~/Views/Partials/Common/YearsList.cshtml", newsYears, dict);}
                </div>
            </div>
        </header>
        <div id="@containerId" class="list"></div>
        <div id="@overlayId" class="loading-overlay"></div>
        <div class="vline-left hidden-xs" style="@rotateStyleLeft"></div>
        <div class="vline-center hidden-xs" style="@rotateStyleCenter"></div>
        <div class="vline-right hidden-xs" style="@rotateStyleRight"></div>
    </section>


    <script type="text/javascript">
        $(function () {
            newsRouting.init({
                overviewPageId: '@item.Id',
                containerId: '@containerId',
                overlayId: '@overlayId',
                yearAllInt: @Consts.NewsConfig.YearAllInt,
                itemsPerPage: @Consts.NewsConfig.ItemsPerPageOnOverviewPage,
                showHidden: @showHidden.ToString().ToLower(),
            });
        });
    </script>
}