@using System.Web.Configuration
@inherits UmbracoTemplatePage<NewsOverview>
@{
    Layout = "ContentBase.cshtml";
    var item = Model.Content;
    var parent = item.Parent;
    var title = item.GetTitle();
    var containerId = "news-list";
    var overlayId = "loading-overlay";
    var newsYears = ContentManager.GetNewsYears(item.Id);
    var dict = new ViewDataDictionary
    {
        { "DataAttr", "data-news-link" },
        { "RoutingObj", "newsRouting" }
    };

    var showHiddenStr = Request.QueryString[Consts.NewsConfig.ShowHiddenQueryString];
    bool showHidden;
    bool.TryParse(showHiddenStr, out showHidden);

    var btnBackId = "btn-back";
    var fallbackUrl = parent.Url;
}

@*@section LeftSidebar
    {
        @{Html.RenderPartial("~/Views/Partials/Navigation/SideNavigation.cshtml");}
    }*@

@*@section RightSidebar
{
}*@

@section Body
{
    <section class="news-overview-container">
        <header class="header">
            <div class="row">
                <div class="col-sm-6">
                    <div class="title">
                        <a id="@btnBackId" class="btn-back" href="#"></a>
                        <div class="text">
                            <h3>@title</h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm-18">
                    @{Html.RenderPartial("~/Views/Partials/Common/YearsList.cshtml", newsYears, dict);}
                </div>
            </div>
        </header>
        <div id="@containerId" class="list"></div>
        <div id="@overlayId" class="loading-overlay"></div>
    </section>


    <script type="text/javascript">
        $(function () {
            newsRouting.init({
                overviewPageId: '@item.Id',
                containerId: '@containerId',
                overlayId: '@overlayId',
                yearAllInt: @Consts.NewsConfig.YearAllInt,
                itemsPerPage: @Consts.NewsConfig.ItemsPerPageOnOverviewPage,
                showHidden: @showHidden.ToString().ToLower()
            });

            InitBackButton('@btnBackId', '@fallbackUrl');
        });
    </script>
}